body {
    background-color: rgb(23, 23, 238);
    color: rgb(230, 33, 33);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: gold;
    color: antiquewhite;
    text-align: center;
    padding: 30px;
}-family: Arial, Helvetica, sans-serif;-family: Arial, Helvetica, sans-serif;
}
-family: Arial, Helvetica, sans-serif;
}

}


h1 {
    font-size: 36px;
}

h2 {
    color: #08bdc4;
    line-height: 1.6;
}

main {
    width: 80%;
    margin: auto;
}

button {
    background-color: rgb(26, 13, 201);
    margin: 20px;
    border-radius: 12px;
}

button:hover {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    border-radius: 12px;
}

.curtir {
    text-align: center;
    font-size: 14px;
    color: rgb(88, 77, 243);
    margin-top: 8px;
}